@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Jua');


body {
    padding: 0;
    margin: 0;
    background: #040926;
}

/* ===== NAVIGATION ======*/

h1#teamName{
  color: #FFE066;
  font-family: 'Krona One', sans-serif;
  font-size: 350%;
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #219ebc;
  font-family: 'Jua', sans-serif;
}

.description h2{
  color: #8ecae6;
  font-family: 'Jua', sans-serif;
}

.btn {
  font-family: 'Jua', sans-serif;
}


