<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaasTell Conference</title>
</head>
<body>
    <video id="localStream" autoplay playsinline></video>
    <script src="/static/socket.io.js"></script>
    <script>
        room_code = {{ room_code | tojson }}
    </script>
    <script src="/static/webrtc.js"></script>

</body>
</html>